@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cottage App</h1>
    <p>We have the cottages for you next getaway or vacation.</p>
    <p>Click "View Cottages" below to view our offerings.</p>
</div>

<div class="text-xl-center">
<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Cottages">View Cottages</a>
</div>
